# OS / IDE
.DS_Store
.vscode/
.idea/

# Python / venv
.venv/
robotenv/
__pycache__/
*.pyc

# Robot Framework outputs
reports/
output*.xml
log*.html
report*.html
*.log
*.tmp

# Secrets
.env
*.pem
*.key
*.crt
